body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #00efef;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(25px, 0);
  }
}

.content {
  width: 100%;
}
.logoutButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 20px;
  width: calc(100% + 15px);
}
.logoutButton > div {
  cursor: pointer;
  font-size: 13px;
}

.wallet-item {
  cursor: pointer;
  font-weight: bold;
}

.wallet-item.actived {
  color: #0d6efd;
  border-bottom: 2px solid #0000005c;
}

.wallet-body {
  border: 1px solid var(--color-border-muted);
  border-radius: 15px;
  margin: 1.5em 2em 1em;
  padding: 1rem 1.2rem;
  font-weight: 500;
  height: 320px;
}

.wallet-body > div {
  height: -webkit-fill-available;
}

.back-to-home {
  margin: 30px 0 20px;
  align-self: center;
  max-width: 100%;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 500;
}
.back-to-home span {
  cursor: pointer;
}
.back-to-home span:hover {
  color: #0d6efd;
}
.fa-square:before {
  content: none !important;
}
.eyes-show-pass {
  position: absolute;
  right: 6px;
  top: 27%;
  font-size: 20px;
  cursor: pointer;
}

.item-token {
  text-align: left;
  align-items: center;
  cursor: pointer;
}

.copy_address {
  cursor: pointer;
  margin-left: 10px;
}
.copy_address:hover {
  color: #0d6efd;
}
.copy_address:active {
  transform: scale(1.1);
}
/* .wallet-body :nth-child(2) {
  max-height: -webkit-fill-available;
} */
.wallet-body .nfts,
.wallet-body .tokens {
  height: -webkit-fill-available;
}

.wallet-body #nfts,
.wallet-body #tokens {
  padding: 5px 20px;
  max-height: -webkit-fill-available;
  overflow-y: auto;
}

.wallet-body #nfts::-webkit-scrollbar,
.wallet-body #tokens::-webkit-scrollbar {
  width: 5px;
}

.wallet-body #nfts::-webkit-scrollbar-track,
.wallet-body #tokens::-webkit-scrollbar {
  box-shadow: inset 0 0 4px grey;
  border-radius: 10px;
}

.wallet-body #nfts::-webkit-scrollbar-thumb,
.wallet-body #tokens::-webkit-scrollbar-thumb {
  background: #0934358f;
  border-radius: 15px;
}

.wallet-body #nfts::-webkit-scrollbar-thumb:hover,
.wallet-body #tokens::-webkit-scrollbar-thumb:hover {
  background: #093435e0;
}

.forgot-password {
  font-size: 14px;
  font-style: italic;
  color: blueviolet;
  cursor: pointer;
}

/* =============== Confirm send token =============== */
.confirm-send-token {
  width: 400px;
  margin: 16px auto;
  position: relative;
}
.header-info-send {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  height: 42px;
}
.header-info-send .account > div,
.header-info-send .recipient > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-info-send .account,
.header-info-send .recipient {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 0 20px;
  border: 1px solid #00aaff;
  text-align: center;
  width: 50%;
  border-radius: 15px;
}
.header-info-send .arrow {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-info-send .arrow > div {
  background: #ffffff;
  border: 1px solid #00aaff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-info-send .arrow > div > i {
  color: #00aaff;
}

.body-info-send .contract {
  padding: 16px;
  margin-top: 10px;
  background-color: #f2f4f6;
}

.body-info-send .contract .address {
  margin: 16px 0;
  font-size: 15px;
  font-style: italic;
  color: #00aaff;
}
.body-info-send .contract .address a:focus-visible {
  outline: none;
}

.confirm-send-token hr {
  margin: 0.5rem;
}
.body-info-send .details .tx-hash {
  overflow-wrap: break-word;
  padding: 16px;
  background-color: #f2f4f6;
}

.body-info-send .details .tx-hash span {
  cursor: pointer;
  font-size: 15px;
  color: #00aaff;
}
.body-info-send .details .tx-hash div:last-child {
  padding: 0 10px;
}

.body-info-send .total-info {
  padding: 16px 32px;
}
.body-info-send .total-info > div:last-child {
  font-style: italic;
  font-size: 13px;
  padding: 5px 0;
}
.body-info-send hr:last-child {
  margin: 0;
}

.swal2-confirm,
.swal2-deny {
  border-radius: 10px !important;
  font-family: "Euclid Circular B", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 140%;
  font-style: normal;
  font-weight: 550;
  padding: 0.75rem 1rem;
  width: 35%;
  transition: 0.3s;
}

.swal2-confirm {
  border-bottom: 1px solid rgb(39 13 13 / 42%) !important;
  color: #f2f4f6 !important;
  background: #03bec9d6 !important;
}

.swal2-deny:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 5px 5px 20px 1px #d500005e !important;
  border-color: red;
}
.swal2-deny:focus,
.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-confirm:hover {
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 5px 5px 20px 1px #007cd58f !important ;
  background: #03bfc9;
  color: #ffffff;
}
.swal2-container.swal2-center.swal2-backdrop-show {
  padding: 0.1em 0.3em;
}
.swal2-html-container {
  margin: 0 !important;
  border-radius: 10px;
}
.swal2-popup.swal2-modal.swal2-show {
  padding: 0 !important;
}
.swal2-actions {
  width: 80%;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 10px auto 15px;
}

.modal-backdrop {
  z-index: 1060;
}

.transfer-success {
  margin: 15px;
}

.transfer-success {
  margin: 15px;
}
.transfer-success p:last-child {
  padding: 1rem;
  margin: 0;
  border: 1px solid #03bec9d6;
  border-radius: 5px;
}
/* =============== End confirm ======================= */
